In [0]:
from google.colab import drive
drive.mount('/gdrive')

In [0]:
import pandas as pd
traindf = pd.read_csv("/gdrive/My Drive/titanic/train.csv", encoding="utf-8")
testdf = pd.read_csv("/gdrive/My Drive/titanic/test.csv", encoding="utf-8")
traindf

In [0]:
traindf.isna().sum()

In [0]:
med = traindf.median()
traindf = traindf.fillna(med)
testdf = testdf.fillna(med)
traindf.isna().sum()

In [0]:
most = traindf["Embarked"].value_counts().idxmax()
traindf["Embarked"] = traindf["Embarked"].fillna(most)
testdf["Embarked"] = testdf["Embarked"].fillna(most)
traindf.isna().sum()

In [0]:
testdf.isna().sum()